
  {{#each songs}}
  <p class='songItem'>
    {{title}} by <span class="artist">{{artist}}</span> on <span class="album">{{album}}</span> 
    <input type='button' value='delete' class='delete'>
  </p>
  {{/each}}
  










 